<h1> Login </h1>

<%= form_tag('/login') do %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
Enter your username: <br>
<%= text_field_tag 'name' %>
<%= submit_tag value='Login' %>
<% end %>
